neo/schemas/Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="DiageoTypes.xsd"></xs:include>
	<xs:element name="Responses" type="ResponseListType"></xs:element>


	<xs:complexType name="ResponseType">
		<xs:sequence>
			<xs:element name="ResponseCode" type="ResponseCode"></xs:element>
			<xs:element name="ResponseMessage" type="ResponseMessage"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResponseListType">
		<xs:sequence>
			<xs:element name="Response" type="ResponseType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>