neo/schemas/SearchData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="DiageoSearchTypes.xsd"></xs:include>
	<xs:element name="SearchData" type="SearchDataType">
	</xs:element>
	<xs:complexType name="SearchDataType">
		<xs:sequence>
			<xs:element name="QuestionCategory" type="CategoryType"
				minOccurs="1" maxOccurs="5">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>