neo/schemas/UserAccountSecretQuestions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >

	<xs:include schemaLocation="DiageoTypes.xsd"></xs:include>
	<xs:element name="SecretQuestions" type="SecretQuestionsType"></xs:element>
	<xs:complexType name="SecretQuestionsType">
		<xs:sequence>
			<xs:element name="SecretQuestion" type="QuestionAnswerType" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>